*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    background-color: yellow;
}
.navbar-collapse, .headingContainer{
    margin-top: 10px;
}
.infoContainer{
    background-color: orange;
    margin: 20px 5vw;
}
p{
    margin: 0 3vw;
}
